/bin/
.classpath
.project
.idea
.idea/*
CC.iml
antlr-runtime-4.5.3.jar
out
out/*
gen/*
gen
src/assignments/assignment1/decimalGrammar.g4
src/assignments/assignment1/exercise2point2.java
src/assignments/assignment1/decimalVocab.g4
src/test.java